
@font-face {
	font-family: 'Reey Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Reey-Regular.woff') format('woff'),
	url('../fonts/Reey-Regular.ttf') format('truetype');
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 1440px;
	background-color: #ffffff;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-family: 'Reey Regular';
	font-size: 92px;
	font-weight: 400;
}

h2 {
	font-family: 'Reey Regular';
	font-size: 75px;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: black;
}
.btn-gray  {
	background-color: #ebebeb;
	color: #2e3034;
	padding: 14px 37px;
	border-radius: 100px;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
}

.btn-black  {
	background-color: #343434;
	color: #ffffff;
	padding: 14px 37px;
	border-radius: 100px;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
}



.content-wrapper{
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

/**HEADER**/

header {
	width: 1440px;
	height: 1056px;
	background: url('../images/header-background.jpg');
}

.header-container {
	width: 1350px;
	margin-left: 45px;
	margin-right: 45px;
	color: #ffffff;
	padding-top: 45px;
}

/**SEARCH & NAVIGATION**/

/**Navigation**/

.nav-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 17px 0;

}

.nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
}



.nav-item {
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.33px;
	line-height: 1em;
	padding-right: 55px;

}

.nav-link {
	color: #ffffff;
	text-decoration: none;
}

/**Search**/

.search-box {
	background-color: #ffffff;
	height: 50px;
	border-radius: 100px;
	padding: 10px;
}

.search-btn {
	color: black;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 30px;
	padding-right: 25px;

}


.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #2e3034;
	font-size: 16px;
	font-family: 'Open Sans';
	line-height: 30px;	
	width: 120px;
	text-transform: uppercase;
}

.search-box:hover > .search-text {
	width: 360px;
}

/**End Search & Navigation**/

/**HEADER CONTENT**/

.header-content {
	width: 1350px;
	height: 817px;
	margin-top: 117px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

/**Text-Side**/

.main-text {
	width: 675px;
 	height: 817px;
 	display: block;
 	padding-left: 50px;
}

.logo {
	width: 150px;
	max-height: 150px;
	margin-bottom: 23px;
}

.header-container h1 {
	padding-top: 50px;
	text-shadow: 0 5px 5px rgba(84, 82, 79, 0.22);
	line-height: 1em;
}

.focus-line {
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 1em;
	margin-top: 100px;
	margin-bottom: 64px;
}

.button {
	padding-top: 14px;
	padding-bottom: 14px;
}

#btn-main-text {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 25px;
}



.desc {
	width: 100%;
	margin-right: 0;
	margin-top: 25px;
	font-size: 21px;
	letter-spacing: 1px;
	line-height: 1.3em;
	font-style: italic;
	font-weight: 400;
}

/**Images Side**/

.main-images {
	width: 675px;
 	height: 817px;
}

.plate {
	position: absolute;
	top: 248px;
	right: 56px;
	bottom: 188px;
	left: 766px;
}

.plate2 {
	position: absolute;
	right: 531px;
	left: 632px;
	top: 723px;
}

.leaf {
	position: absolute;
	right: 0;
	top: 709px;
	left: 895px;
}

/**End Header**/

/**Content**/

.content-wrapper{
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

/**MENU**/

.menu {
	height: 1116px;
	margin-top: 35px;
}

.menu-title {
	margin-top: 30px;
}
.menu-title h2 {
	padding-top: 63px;	
	text-align: center;
}

.title-desc {
	color: #2f3135;
	font-family: "Open Sans";
	font-size: 27px;
	margin-top: 50px;
	width: 694px;
	text-align: center;
	line-height: 1.5em;
	width: 694px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
	
}

.menu-items {
	width: 1173px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 95px;
	margin-left: 63px;
	margin-right: auto;
}

.item {
	width: 334px;
	margin-left: 95px;
}

.item-img {
	width: 334px;
	height: 322px;
	object-fit: contain;
	margin-bottom: 50px;
}

.item-img img {
	width: 334px;
	height: 322px;
}

.item-desc {
	padding-left: 25px;
}

.item-title {
	color: #343434;
	font-family: "Open Sans";
	font-size: 29px;
	font-weight: 700;
	line-height: 1.2em;
}


.item-desc-text {
	color: #343434;
	font-family: "Open Sans";
	font-size: 23px;
	line-height: 1.2em;
	margin-top: 19px;
}

.btn-menu-items {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 115px;
}

#btn-menu-items {
	font-family: "Open Sans";
	font-size: 23px;
	font-weight: 800;
	line-height: 0.9em;
	text-transform: uppercase;
	letter-spacing: 4.6px;
}