* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	width: 1448px;
}

/**HEADER**/

.header {
	width: 1448px;
	height: 950px;
	background-color: #ebe3e1;
}

.container {
	width: 1250px;
	height: 865px;
	margin-left: 96px;
	margin-right: 96px;
	padding-top: 87px;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 110px;
}


.hello  {
	color: #a7513c;
	font-family: 'Montserrat', sans-serif;
	font-size: 17.5px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	line-height: 2.3em;
}

.logo {
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #a7513d;
	font-size: 30.94px;
	text-transform: uppercase;
	letter-spacing: 8.66px;
	line-height: 1em;
}

.logo span {
	padding-left: 35px;
}

.nav {
	display: flex;
	padding-left: 0px;
	justify-content: space-between;
	list-style: none;
}

.nav-item {
	color: #a7513c;
	font-size: 17.5px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	line-height: 2.3em;
}

.nav-link {
	color: #a7513c;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
}

.header-content {
	width: 100%;
	height: 638px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../images/flower.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.names {
	color: #a95139;
	font-family: 'Playfair Display', serif;
	font-size: 118.5px;
	letter-spacing: 33.20px;
	text-align: center;
	padding: 240px 0 282px 0px;
	margin-right: auto;
	margin-left: auto;
	text-transform: uppercase;
	line-height: 1em;
}

.names span {
	padding-left: 30px;
}

/**END HEADER*/

/** CONTENT**/

/**Group1**/

.content-group1 {
	width: 1448px;
	height: 544px;
	background-color: #a95139; 
}

.greet {
	width: 1256px;
	height: 544px;
	margin-left: 96px;
	margin-right: 96px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hi {
	color: #ebe3e1;
	font-family: 'Playfair Display', serif;
	font-size: 126px;
	line-height: 1em;
	letter-spacing: 0.9em;
	padding-left: 50px;
}

.invite{
	color: #ebe3e1;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-variant: small-caps;
	letter-spacing: 15.55px;
	line-height: 4em;
	padding-right: 50px;
}

/**End Group1**/

/**Croup2**/

.content-group2 {
	width: 1448px;
	height: 770px;
	background-color: #ebe3e1; 
}

.info {
	width: 1256px;
	height: 770px;
	margin-left: 96px;
	margin-right: 96px;
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.block1 {
	display: block;
	text-align: center;
	height: 250px;
	margin-top: 250px;
	margin-bottom: 240px;
	width: 628px;
	padding-right: 150px;
}



.when {
	color: #a95139;
	font-family: "Playfair Display", serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 1em;
	font-variant: small-caps;
	letter-spacing: 13.5px;
	text-transform: uppercase;
	padding-bottom: 60px;
}

.line {
	color: #a95139;
	font-family: "Playfair Display", serif;
	font-size: 36px;
	letter-spacing: 19.4px;
	line-height: 1em;
	font-variant: small-caps;
	height: 86px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.break {
	font-size: 57px;
	padding-left: 72px;
	padding-right: 72px;
}

.calendar {
	color: #a95139;
	font-family: Montserrat;
	font-size: 17.2px;
	font-weight: 400;
	line-height: 2.2em;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 6.8px;
	padding-top: 30px;
}

.calendar a {
	color: #a95139;	
	font-size: 17.2px;
}

.calendar a:hover {
	background-color: #a95139;
	color: #ebe3e1;
	padding: 10px;
	opacity: 0.6;
}

.block2 {
	width: 50%;
	display: block;
	text-align: center;
	height: 250px;
	margin-top: 250px;
	margin-bottom: 240px;
	
}

.where {
	color: #a95139;
	font-family: "Playfair Display", serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 1em;
	font-variant: small-caps;
	letter-spacing: 13.5px;
	text-transform: uppercase;	
	padding-bottom: 60px;
}

.address {
	color: #a95139;
	font-family: "Playfair Display";
	font-size: 22px;
	line-height: 2em;
	font-variant: small-caps;
	text-transform: uppercase;
	height: 86px;
}

#top-line {
	letter-spacing: 13.4px;	
}

#bottom-line {
	letter-spacing: 18.2px;	
}

.map {
	color: #a95139;
	font-family: Montserrat;
	font-size: 17.2px;
	font-weight: 400;
	line-height: 2.2em;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 6.8px;	
	padding-top: 30px;
}

.map a {
	color: #a95139;	
	font-size: 17.2px;	
}

.map a:hover {
	background-color: #a95139;
	color: #ebe3e1;
	padding: 10px;
	opacity: 0.6;
}

/**End Group2**/

/**Group3**/

.content-group3 {
	width: 1448px;
	height: 796px;
	background-color: #ebe3e1; 	
}

/**End Group3**/

/**Group4**/

.content-group4 {
	width: 1448px;
	height: 741px;
	background-color: #a95139; 
}

.form {
	width: 960px;
	margin-left: auto;
	margin-right: auto;

}

#respond {
	padding-top: 142px;
	padding-bottom: 142px;
}

.form-title {
	margin-bottom: 40px;
}

#legend {
	color: #ebe3e1;
	font-family: "Playfair Display";
	font-size: 31px;
	font-weight: 700;
	line-height: 1em;
	font-variant: small-caps;
	text-transform: uppercase;
	letter-spacing: 16.7px;
	text-align: center;
}

input {
	background-color: #a95139;
	color: #ebe3e1;
	padding: 12px 20px;
	margin-bottom: 30px;
	display: inline-block;
	border: 1px solid #ebe3e1;
	box-sizing: border-box;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 2.3em;
	text-transform: uppercase;
	letter-spacing: 4.8px;
}

::placeholder {
	color: #ebe3e1;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 2.3em;
	text-transform: uppercase;
	letter-spacing: 4.8px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}



input[type=text] {
	width: 960px;
	height: 40px;
}

textarea {
	width: 960px;
	background-color: #a95139;
	color: #ebe3e1;
	border: 1px solid #ebe3e1;
	box-sizing: border-box;
	padding: 12px 20px;
	margin-bottom: 30px;
	color: #ebe3e1;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 2.3em;
	text-transform: uppercase;
	letter-spacing: 4.8px;
}


.submit-wrapper {
	text-align: center;
	height: 75px;
	margin: 0;
}

input[type=submit] {
	border: none;
	padding: 10px;
	margin: 0;
	font-family: Montserrat;
	font-size: 17px;
	line-height: 2.2em;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 6.8px;
}

input[type=submit]:hover {
	background-color: #ebe3e1;
	color: #a95139;
}


/**End Group4**/


/**Group5**/

.content-group5 {
	width: 1448px;
	height: 524px;
	background-color: #ebe3e1; 	
	display: flex;
	justify-content: center;
	align-items: center;
}


.end {

}


#first-line {
	color: #a95139;
	font-family: "Playfair Display";
	font-size: 73px;
	line-height: 1.4em;
	font-variant: small-caps;
	letter-spacing: 40px;
	text-transform: uppercase;
	padding-right: 7px;
	padding-left: 15px;
	padding-bottom: 15px;
	}

#second-line {
	color: #a95139;
	font-family: Montserrat;
	font-size: 33.3px;
	line-height: 1.4em;
	font-variant: small-caps;
	letter-spacing: 16px;
	text-transform: uppercase;
}

/**End Group5**/

/**FOOTER**/

.footer {
	height: 85.25px;
	background-color: #a95139;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e9e3e0;
	font-family: 'Playfair Display', serif;
	font-size: 25.8px;
	text-transform: uppercase;
	letter-spacing: 7.22px;
	line-height: 1em;
}

